* {
    font-family: Merriweather;
}

.banner-text {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;

}

.banner-subTittle {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;

}

#bannar-parant {
    width: 1320px;
    height: 600px;
    background-image: url('./resources/Banner\ Image.png');
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    border-radius: 16px;
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */

    justify-content: center;
    align-items: center;

}

.discount-tittle {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;

}

.categorypart {
    text-align: center;
    font-family: Inter;
}

.newYearPhoto {
    display: flex;
    justify-content: center;
}

.holiday {
    color: #F00;
    font-size: 24px;

    font-weight: 500;

}

.CATEGORIES {
    color: #070211;
    font-size: 48px;
    font-weight: 700;

}

.partySection {
    background-image: url('./resources/Vectorrr.png');
    width: 1320px;
    height: 600px;
    color: #FFF;
    display: flex;
    align-items: center;
}

.partyParant {
    padding-left: 126px;
}

.partyTittle {
    font-size: 64px;
    font-weight: 900;

}

.partyDescription {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;

}

.partyBtn {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}